<div class="container mt-5">
<div>
    <button class="btn btn-danger">Eliminar</button>
    <button class="btn btn-success">Añadir</button>
    <button class="btn btn-warning">Editar</button>
</div>

    <table class="table">
    <thead>
        <tr class="tablaHeader">
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Proyecto</th>
            <th>Turno</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Manuel</td>
            <td>Pinto</td>
            <td>32</td>
            <td>Codenotch</td>
            <td>Mañana</td>
        </tr>
        <tr>
            <td>Alberto</td>
            <td>Bermejo</td>
            <td>29</td>
            <td>Gestion</td>
            <td>Tarde</td>
        </tr>
        <tr>
            <td>Carlos</td>
            <td>Ocaña</td>
            <td>30</td>
            <td>Bares</td>
            <td>Noche</td>
        </tr>
        <tr>
            <td>Ari</td>
            <td>Trapero</td>
            <td>27</td>
            <td>Diseño</td>
            <td>Noche</td>
        </tr>
        <tr>
            <td>Jose</td>
            <td>Herrera</td>
            <td>40</td>
            <td>Profesor</td>
            <td>Mañana</td>
        </tr>
        <tr>
            <td>Jorge</td>
            <td>Rodriguez</td>
            <td>29</td>
            <td>Profesor</td>
            <td>Tarde</td>
        </tr>
    </tbody>
    </table>
</div>